<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>

<!--<div>
  <mat-form-field appearance="fill" *ngIf="country">
    <mat-label>Country</mat-label>
    <mat-select>
      <mat-option *ngFor="let country of countries" [value]="country.id">
        {{country.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>-->

<div>
  <select name="Country" id="">
    <option *ngFor="let country of countries ">      {{country.name}}</option>

  </select>
</div>
